.footer {
  padding-top: 2.4rem;
  background: $colorBgDis;
  &__top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: $colorBackgroundCard;
  }
  &__logotip {
    @include _979 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-right: 0;
    }
    @include _600 {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2.4rem;
    }
    @include _350 {
      margin-bottom: 2rem;
    }
  }
  &__logo-wrapper {
    margin-bottom: 2.5rem;
    @include _600 {
      margin-bottom: 2.4rem;
    }
    @include _350 {
      margin-bottom: 2rem;
    }
  }
  &__social {
    display: flex;
    justify-content: flex-start;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 144%;
  }
  &__link {
    font-size: 1.4rem;
    line-height: 100%;
    color: $colorTextMenu;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    &:focus {
      background: $colorFocusBg;
      color: $colorActive;
    }
    &:hover {
      color: $colorDefault;
    }
    &:active {
      background: none;
      color: $colorActive;
    }
  }
  &__item {
    margin-bottom: 0.7rem;
  }
  &__nav {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include _1190 {
      width: 77%;
    }
    @include _979 {
      width: 100%;
    }
    @include _600 {
      max-width: 320px;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
    }
    @include _350 {
      padding-right: 1.1rem;
    }
  }
  &__copy {
    padding: 0;
    margin: 0;
    color: $colorTextMenu;
    @include _1190 {
      padding: 0.5rem;
    }
  }
  &__col:first-child {
    margin-right: -3rem;
    @include _600 {
      margin-right: 0;
    }
    @include _350 {
      margin-bottom: 4.1rem;
    }
  }
  @include _1190 {
    &__col:nth-child(2) {
      margin-right: -1rem;
      @include _600 {
        margin-right: 0;
      }
    }
  }
  @include _600 {
    &__col:not(:nth-child(2n)) {
      margin-right: 2rem;
    }
  }
}

.social {
  &__item:not(:last-child) {
    margin-right: 1.3rem;
  }

  &__link-icon {
    width: 3rem;
    height: 3rem;
    fill: $colorTextMenu;
    transition: fill 0.3s ease-in-out;
  }
  &__link {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.3rem;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out;

    &:focus {
      background-color: $colorHover;
      .social__link-icon {
        fill: $colorBg;
      }
    }

    &:hover {
      background-color: transparent;
      .social__link-icon {
        fill: $colorDefault;
      }
    }

    &:active {
      .social__link-icon {
        fill: $colorActive;
      }
    }
  }
}
