$colorText: #333;
$colorBg: #fff;
$colorBackgroundCard: #f7f7f7;
$colorBgDis: #eaeaea;
$colorTextMenu: #999;
$colorDefault: #a65cf0;
$colorHover: #c998fb;
$colorFocusBg: #EBD1FF;
$colorActive: #7033ac;
$colorFormBgFocus: #f8efff;
$colorFormBgLight: #e9e9e9;
$colorPrice: #666;
$colorFormLine: #b8ec64;
$colorError: #ff6972;
$colorIconDef: #ff862f;
$colorIconHov: #ffbd59;
$colorIconFocBg: #fff5d1;
$colorIconAct: #bb370e;
